<div class="p-grid">
  <div class="p-col"></div>
  <div class="p-col">
    <form #formularioLogin="ngForm"
          (submit)="login()">
      <p *ngIf="inputCorreo.errors&&inputCorreo.touched">
        <p-message
          *ngIf="inputCorreo.errors.required"
          severity="warn"
          text="Error: El correo es requerido"></p-message>
      </p>
      <span class="ui-fluid ui-float-label">
        <input id="correo"
               name="correo"
               type="email"
               required
               pInputText [(ngModel)]="usuario.correo"
               #inputCorreo="ngModel">
        <label for="correo">Correo</label>
      </span>
      <div class="p-grid p-dir-col">
        <div class="p-col"></div>
        <div class="p-col"></div>
      </div>
      <p *ngIf="inputPassword.errors&&inputPassword.touched">
        <p-message
          *ngIf="inputPassword.errors.required"
          severity="warn"
          text="Error: La contraseña es requerida"></p-message>
      </p>
      <span class="ui-fluid ui-float-label">
        <input id="password"
               name="password"
               type="password"
               size="30"
               required
               pInputText
               [(ngModel)]="usuario.password"
               #inputPassword="ngModel">
        <label for="password">Password</label>
      </span>
      <div class="p-grid p-dir-col">
        <div class="p-col"></div>
        <div class="p-col"></div>
      </div>
      <div class="ui-fluid p-justify-center">
        <button [disabled]="formularioLogin.invalid"
          pButton
          type="button"
          label="Login"
          (click)="login()">
        </button>
      </div>
    </form>
  </div>
  <div class="p-col"></div>
</div>
